<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Ludus.ReportingServices.CustomSecurity.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Microsoft.Samples.ReportingServices.CustomSecurity.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Ludus.ReportingServices.CustomSecurity.Properties.Settings>
            <setting name="ludus_reportingservices_customsecurity_localhost_reportingService2010"
                serializeAs="String">
                <value>http://localhost:80/ReportServer_SQL2014/ReportService2010.asmx</value>
            </setting>
            <setting name="bypasslocalogin" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="passphrase" serializeAs="String">
                <value>This_IS_a_simpl_Passphrase</value>
            </setting>
        </Ludus.ReportingServices.CustomSecurity.Properties.Settings>
        <Microsoft.Samples.ReportingServices.CustomSecurity.Properties.Settings>
            <setting name="Database_ConnectionString" serializeAs="String">
                <value>Server=localhost; Integrated Security=SSPI;database=UserAccounts</value>
            </setting>
            <setting name="Microsoft_Samples_ReportingServices_CustomSecurity_localhost_ReportingService2010"
                serializeAs="String">
                <value>http://localhost:80/ReportServer_SQL2014/ReportService2010.asmx</value>
            </setting>
            <setting name="bypasslocalogin" serializeAs="String">
                <value>True</value>
            </setting>
        </Microsoft.Samples.ReportingServices.CustomSecurity.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
